.idea/
.gradle/
common/out/
common/build/
core/build/
core/out/
oracle/out/
oracle/build/
sqlserver/out/
windows/build/
windows/out/
tomcat/out/
tomcat/build/
sqlserver/build/
apache/build/resources/main/apache-monitor-props.yaml
apache/build/
weblogic/out/
weblogic/build/tmp/jar/MANIFEST.MF
weblogic/build/
